@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    color: #333;
    background-color: #000000 !important;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/hero-img.png") no-repeat 0 0;

    background-size: cover;
    background-position: center;
}
a .btn{
    border-radius: 90px;
    margin-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
}
h1,h3{
    font-family: 'Roboto Slab', serif; 
}
h1,h5{
    color: rgb(232, 199, 102) !important;
}
.link li{
    list-style: none;   
}
.menu a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;

}
.menu .btn{
    margin-right: 50px;
}
a:hover{
    color:rgb(235, 12, 12);
}
header{
    /* position: fixed; */
    padding: auto 2rem;
}
.menu{
    width: 100%;
    height:60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.menu .logo{
    font-size: 1.5rem;
    font-weight: bold;
}
.menu .link{
    margin: auto;
    display: flex;
    gap: 2rem;
}
/* hero section */
#hero-text{
    margin-top: 20px;
    color: #fff;
    font-weight: bold;
}
#hero-text{
    padding-top: 50px;
    padding-bottom:60px;
}
#hero-text div{
    padding-top: 20px;
    padding-bottom: 20px;
}
#hero-text h1{
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
}
#hero-text h3{
    font-size: 2vw;
    text-align: center;
    color:rgb(255, 255, 255);
}
#hero-text div a button{
    font-size: 1.5vw;
}


/* about section */
#aboutme{
   
    padding-bottom: 70px;
    padding-top: 70px;
    color: #333;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/about-img.png") no-repeat 0 0;
    background-size: cover;
    background-position: center;
}
#aboutme p{
    padding-top: 20px;
}
#aboutme div{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
#aboutme h1{
    color:rgb(255, 255, 255);
    font-weight: bolder;
}
#aboutme h3{
    font-size: 2vw;
    color:rgb(255, 255, 255);
}
.heading-container{
    color:rgb(255, 255, 255);
    font-weight: bolder;
    text-align: center;
}
/*featured section */
#Featured{
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#Featured .card{
    margin-left: 20px;
    background: url("/images/card-img3.png") no-repeat 0 0;
    background-size: cover;
    background-position: center;
    transition: 0.5s;
    --bs-card-bg:  none !important;
    --bs-card-border-radius: 30px !important;
}
#Featured .card-body{
    color: #fff;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 20px;
}